:root {
   //colors
   --primary-color: #71a56f;
   --secondary-color: #649263;
   --primary-red-color: #e36464;
   --secondary-red-color: #df4f4f;
   --primary-black-color: #444444;
   //transitions
   --transition: 0.2s ease-in;
}
